__pycache__/
*.py[cod]
*$py.class
dist/
sdist/
var/
wheels/
share/python-wheels/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.mypy_cache/
.dmypy.json
dmypy.json

.ruff_cache/
.ruff_cache.json
/.DS_Store
